<app-cabecera></app-cabecera>
<div class="container">

  <h1>Simulacro de examen</h1>


  <button class="btn btn-primary" (click)="onClick('busqueda')">Busqueda</button>
  <button class="btn btn-primary" (click)="onClick('peliculaListado')">Peliculas Listado</button>
  <button class="btn btn-primary" (click)="onClick('actorListado')">Listado Actores</button>
  <button class="btn btn-primary" (click)="onClick('altaPelicula')">Alta Peliculas</button>
  <button class="btn btn-primary" (click)="onClick('altaActor')">Alta Actor</button>
  <button class="btn btn-primary" (click)="onClick('paisesListado')">Listado Paises</button>
</div>
