<app-cabecera></app-cabecera>

<h1>Alta Peliculas</h1>
<br>

<form>
    <div class="form-group col-md-6">
      <label for="nomrbePelicula">Nombre</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="nombre" type="text" class="form-control" id="nomrbePelicula" placeholder="Ingrese el nombre del actor">
    </div>
    <div class="form-group col-md-6">
        <label for="nomrbePelicula">Apellido</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="apellido" type="text" class="form-control" id="nomrbePelicula" placeholder="Ingrese el apellido del actor">
      </div>

    <div class="form-group col-md-6">
        <label for="sexo">Sexo</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="sexo" type="text" class="form-control" id="sexo">
    </div>

    <div class="form-group col-md-6">
        <label for="fecha">Fecha Nacimiento</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaNacimiento" type="date" class="form-control" id="fecha">
    </div>
      
    <button type="button" (click)="alta()" class="btn btn-primary">Submit</button>
  </form>
  <br>



<app-tabla-paises [paises]="this.paises" ></app-tabla-paises>