
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Capital</th>
        <th scope="col">Poblacion</th>
        <th scope="col">Foto</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises" (click)="verDetalles(pais)" >
            <th>{{pais.name}}</th>
            <th>{{pais.capital}}</th>
            <th>{{pais.population}}</th>
            <td> <img [src]="pais.flag" width="80px" > </td>
          </tr>
    </tbody>
  </table>
